@charset "utf-8";
/* CSS Document */

.row{
	padding-top: 1em;
	
}
.row section .card-body form input[type="text"], .row section .card-body form select{
	border-radius: 4px;
}
.summary span .badge {
	background-color: #fc3;
}

